.container {
  padding: 3rem;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 3rem;

  
  justify-content: center;


  align-items: center;
  align-content: center;
  @media (max-width: 768px) {
    flex-flow: column nowrap;
  }
}

.title {
  font-size: 10rem;
  font-weight: bolder;
  text-align: center;

  @media (max-width: 1200px) {
    font-size: 6rem;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }}